.Calculator {
  width: min-content;
  .SecondaryButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .PrimaryButtons {
    display: flex;
    .NumberButtons {
      display: flex;
      flex-direction: column;
      .Numbers {
        display: flex;
      }
    }
  }
}
